<!DOCTYPE html>

<html layout:decorate="~{layout.html}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>EniEnchere</title>
</head>
<body>

	<main layout:fragment="main">

		<h1>Liste des enchères</h1>

		<div id="searchbar">

			<h2>Filtres :</h2>
			<form action="" class="formulaire">
				<input class="champ" type="text"
					placeholder="Le nom de l'article contient ?" /> <input
					class="bouton" type="button" value="Valider" />
			</form>
			<a href="nouvel_article">Vendre un article</a>
			<!-- <a th:if="${utilisateurConnecte}" href="nouvel_article">Vendre un article</a><a th:unless="${utilisateurConnecte}" href="inscription">Vendre un article</a> -->

		</div>

		<div id="articleList">
			<table>
				<tr>
					<th>Nom de l'article</th>
					<th>Description</th>
					<!-- Add more table headers as needed -->
				</tr>
				<tr th:each="article : ${articlesVendus}">
					<td th:text="${article.nom_article}"></td>
					<td th:text="${article.description}"></td>
					<th>Détails de l'enchère :</th>
					<p>
						Prix de départ : <span th:text="${enchere.prixDepart}"></span>
					</p>
					<p>
						Date de début : <span th:text="${enchere.dateDebut}"></span>
					</p>
					<a th:href="@{/detail_vente(articleVendu=${article})}">Voir le détail</a>
				</tr>
			</table>
			<p th:if="${message}" th:text="${message}"></p>
		</div>

	</main>


</body>
</html>