<!DOCTYPE html>
<html layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>EniEnchere</title>
</head>
<body>

<main layout:fragment="main">

<h1>Liste des enchères</h1>

<div id="searchbar">
                
   <h2>Filtres :</h2>                     
  <form action="" class="formulaire">
      <input class="champ" type="text" placeholder="Le nom de l'article contient ?"/>
      <input class="bouton" type="button" value=" " />
  </form>
</div>

</main>


</body>
</html>