<!DOCTYPE html>
<html layout:decoration="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" data-th-href="@{/layout.css}">
<head>

<meta charset="UTF-8">
<title>EniEnchere</title>
</head>
<body>

<main class ="main" layout:fragment="main">
<h1>Détail vente</h1>
<!-- <div class="contenerImg"> -->
<!-- <img class="imgDetail" th:src="@{'/image'+ ${articleVendu.no_article}++'jpg'}" alt ="image"> -->
<!-- </div> -->


<div class ="detail_vente">

<h2 class ="NomArticle" th:object="${enchere.noArticleVendu}"></h2>

<p><a data-th-text="${articleVendu.description}"></a>Description : </p>
<p><a data-th-text="${categorie.libelle}"></a>Catégorie : </p>
<p><a data-th-text="${enchere.montant_enchere}">Meilleure offre : </a></p>
<p><a data-th-text="${articleVendu.prix_initial}">Mise à prix : </a></p>
<p><a data-th-text="${articleVendu.date_fin_encheres}">Fin de l'enchère : </a></p>
<!-- <p><a data-th-text="${enchere.retrait?.adresseRetrait}">Retrait :</a></p> -->
<p><a data-th-text="${enchere.noUtil}">Vendeur :</a></p>

<br>
 <form action="/encherir" th:object ="${enchere}" method="post"><!-- a modifier lorsque la methode sera faite -->
 <label for="encherir">Ma propostion :</label> <input type="number"
 id="encherir" name="encherir" required>
 
 <button type="submit">Enchérir</button>
 </form>
</div>




</main>

</body>
</html>