<!DOCTYPE html>



<html layout:decorate="~{layout.html}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" data-th-href="@{/layout.css}">


<head>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<title>EniEnchere</title>

</head>

<body>

	<main class="main" layout:fragment="main">
		<h1>Détail vente</h1>
		<!-- <div class="contenerImg"> -->
		<!-- <img class="imgDetail" th:src="@{'/image'+ ${articleVendu.no_article}++'jpg'}" alt ="image"> -->
		<!-- </div> -->


		<!-- <div class ="detail_vente"> -->

		<!-- <h2 class ="NomArticle" th:object="${enchere.noArticleVendu}"></h2> -->

		<!-- <p>Description : <a data-th-text="${articleVendu.description}"></a></p> -->
		<!-- <p>Catégorie : <a data-th-text="${categorie.libelle}"></a></p> -->
		<!-- <p>Meilleure offre : <a data-th-text="${enchere.montant_enchere}"></a></p> -->
		<!-- <p>Mise à prix : <a data-th-text="${articleVendu.prix_initial}"></a></p> -->
		<!-- <p>Fin de l'enchère : <a data-th-text="${articleVendu.date_fin_encheres}"></a></p> -->
		<!-- <!-- <p><a data-th-text="${enchere.retrait?.adresseRetrait}">Retrait :</a></p> -->
		-->
		<!-- <p>Vendeur : <a data-th-text="${enchere.noUtil}"></a></p> -->

		<!-- <br> -->
		<!--  <form th:action="@{/detail_vente}" th:object ="${enchere}" method="post">a modifier lorsque la methode sera faite -->
		<!--  <label for="encherir">Ma proposition :</label> <input type="number" -->
		<!--  id="encherir" name="encherir" required> -->

		<!--  <button type="submit">Enchérir</button> -->
		<!--  </form> -->
		<!-- </div> -->

		<div class="detail_vente">

			<p>
				Description : <a data-th-text="${articleVendu.description}"></a>
			</p>
			<p>
				Catégorie : <a data-th-text="${categorie.libelle}"></a>
			</p>
			<p>
				Meilleure offre : <a data-th-text="${enchere.montant_enchere}"></a>
			</p>
			<p>
				Mise à prix : <a data-th-text="${articleVendu.prix_initial}"></a>
			</p>
			<p>
				Fin de l'enchère : <a
					data-th-text="${articleVendu.date_fin_encheres}"></a>
			</p>
			<!-- <p><a data-th-text="${enchere.retrait?.adresseRetrait}">Retrait :</a></p> -->
			<p>
				Vendeur : <a data-th-text="${enchere.noUtil}"></a>
			</p>

			<br>
			<form th:action="@{/detail_vente}" th:object="${enchere}"
				method="post">
				<!-- ... autres champs de formulaire ... -->
				<input type="hidden" id="articleVendu" name="articleVendu"
					th:value="${articleVendu.no_article}" /> <label for="montant">Ma
					proposition :</label> <input type="number" id="montant" name="montant"
					required>
				<button type="submit">Enchérir</button>
			</form>

		</div>

	</main>

</body>
</html>