<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>EniEnchere</title>
<link rel="stylesheet" data-th-href="@{/layout.css}">
</head>
<body>
<header class ="en-tete">
		<h1 id="nav-title">
			<a href="/">Enchère et en os !</a>
		</h1>
		<nav>
			<ul>
				<li><a th:href="@{/inscription}">S'inscrire</a></li>
				<li><a th:href="@{/login}">Se connecter</a></li>
				<li><a th:href="@{/logout}">Se déconnecter</a></li>
				<li><a th:href="@{/modifierProfil}">Accéder à son profil</a></li>
				
			</ul>
		</nav>
	</header>
<main layout:fragment="main"></main>

<hr>
<footer>ENI</footer>

</body>
</html>