<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>EniEnchere</title>
<link rel="stylesheet" data-th-href="@{/css/layout.css}">
</head>
<body class="corps">
<header class ="en-tete">
		<h1 id="nav-title">
			<a id="titre" href="/">Enchère et en os !</a>
		</h1>
		<nav id="barre_nav">
			<ul id="list_nav">
				<li><a th:href="@{/inscription}">S'inscrire</a></li>
				<li><a th:href="@{/login}">Se connecter</a></li>
				<li><a th:href="@{/logout}">Se déconnecter</a></li>
				<li><a th:href="@{/modifierProfil}">Accéder à son profil</a></li>
				<li><a th:href="@{/usersList}">Afficher la liste des utilisateurs</a></li>
				
			</ul>
		</nav>
	</header>
	
<main class="main" layout:fragment="main"></main>


<footer class="pied-de-page">Encherons Nous Infernalement</footer>

</body>
</html>