<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>EniEnchere</title>
<link rel="stylesheet" data-th-href="@{/css/layout.css}">
</head>
<body class="corps">
<header class ="en-tete">
		<h1 id="nav-title">
		 <img style=max-height:20px src="/images/iconsquelette.png"></img>
			<a id="titre" href="/">Enchère et en os !</a>
		 <img style=max-height:20px src="/images/iconsquelette.png"></img>	
		</h1>
		<nav id="barre_nav">
		<div class="etat" sec:authorize="isAnonymous()">
    <p> Vous êtes déconnecté</p>
</div>
<div  class="etat" sec:authorize="isAuthenticated()">
    <p> Vous êtes bien connecté</p>
</div>
		
			<ul id="list_nav">
				<li sec:authorize="isAnonymous()"><a th:href="@{/inscription}">S'inscrire</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Se connecter</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Se déconnecter</a></li>    
                <li sec:authorize="isAuthenticated()"><a th:href="@{/modifierProfil}">Accéder à son profil</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/usersList}">Afficher la liste des utilisateurs</a></li>
				
			</ul>
		</nav>
	</header>
<div id="caroussel">
	<div class="images">
		<img src="/images/maison.jpg" alt ="maison">
		<img src="/images/tableau.jpg"  alt ="tableau">
		<img src="/images/avion.jpg"  alt ="avion">
		<img src="/images/voitureabandonnee.jpg" alt ="voiture">
		
	</div>
</div>


	
<main class="main" layout:fragment="main"></main>


<footer class="pied-de-page">Encherons Nous Infernalement</footer>

</body>
</html>