<!DOCTYPE html>

<html layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>EniEnchere</title>
</head>
<body>

<main layout:fragment="main">
		<h1>Nouvel Article</h1>
	
		<form th:action="@{/nouvel_article}" th:object ="{articleVendu}" method="post">
			 <ul> <li th:each="err : ${#fields.allErrors()}" th:text="${err}" /> </ul>
			 
			 <div class="articleVendu">
				<label for="nom_article">Nom de l'article :</label> <input
					type="text" th:field="*{nom_article}" required>
			</div>
			<div>
				<label for="description">Précisions sur l'article :</label> <input
					type="text" th:field="*{description}" required>
			</div>
			<div>
				<label for="date_debut_encheres">Début des enchères :</label> <input
					type="date" th:field="*{date_debut_encheres}"
					required>
			</div>
			<div>
				<label for="date_fin_encheres">Fin des enchères :</label> <input
					type="date" th:field="*{date_fin_encheres}"
					required>
			</div>
			<div>
				<label for="prix_initial">Prix initial :</label> <input
					type="number" th:field="*{prix_initial}" required>
			</div>
			<div>
				<label for="prix_vente">Prix de vente :</label> <input type="number"
					th:field="*{prix_vente}" required>
			</div>
			<div>
				<label for="categorie">Catégorie :</label> <select id="categorie"
					name="categorie" class="form-control">
					<option value="">Sélectionnez une catégorie</option>
					<option th:each="categorie : ${categories}"
						th:value="${categorie.id}" th:text="${categorie.nom}"></option>
				</select>
			</div>
			<button type="submit">Créer l'article</button>
		</form>

	</main>
</body>
</html>