@charset "UTF-8";

body {
	font-family: 'Bebas Neue', sans-serif;
	background-color: rgb(41, 41, 41);
	color: white;
	font-size: 21px;
	
}
#en_tete {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 50px;
	box-shadow: 0 1px 8px #ddd;
}

#nav-title {
	margin-right: auto;
	font-size: 1.1em;
}


h1 {
	font-size: 1.8em;
}

footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
	height: auto;
}

nav li {	
	font-size: 1.5em;
}
