@charset "UTF-8";


*{
	font-family: "OCR A Std",  monospace;
	font-size: 15px;
	letter-spacing: 0px;
	word-spacing: 2px;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	
}

body {
	font-family: 'Bebas Neue', sans-serif;
	background-color: #8c8c8c;
	color: white;
	font-size: 21px;
}
.etat{
	color:white;
	
}
.images{
	display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	animation-duration:20s;
	animation-name:mesImages;
	animation-iteration-count:infinite;
}
@keyframes mesImages{
	0%{
	transform:translateX(35%);
	}
/* 	25%{ */
/* 	transform:translateX(10%); */
/* 	} */
	50%{
	transform:translateX(-25%);
	}
/* 	75%{ */
/* 	transform:translateX(-40%); */
/* 	} */
	100%{
	transform:translateX(24%);
	}
}
#caroussel{
	height:350px;
	width :1100px;
	overflow:hidden;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin: 0 auto;
  	margin-top:10px;
}
.corps {
	background-color : white;

}

.corps:hover{
	background-color: #c0c0c0;
	transition-property: background-color;
    transition-duration: 5s;
	
}


#titre {
	color : red;
	text-shadow: 0px 10px 3px rgba(157,55,58,0.92);
	text-transform: uppercase;	
	font-size: 20px;
	color: #FFF;
	background-color: #232323;
	text-shadow: 0 0 5px #ff0000, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f00000, 0 0 30px #ff8080, 0 0 40px #f32342, 0 0 55px #d64188, 0 0 75px #d83f59
}

.en-tete #barre_nav {
	display: flex;
	color: red;
}
.en-tete {
	
	padding: 60px;
  	text-align: center;
	background-color:black;
 	color: red;
 	font-size: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 50px;
	box-shadow: 0 1px 8px #ddd;
	
}

#nav-title {
	margin-right: auto;
	font-size: 1.1em;

}


h1 {
	font-size: 1.8em;
}


.pied-accueil{
background-color: black;
	padding: 10px;
	text-align: center;
	color: white;
	height: auto;
	position:absolute;
   	bottom:auto;  
	margin:0;
   	padding:0;
   	width:100%;
   	
}



.pied-de-page {
	background-color: black;
	padding: 10px;
	text-align: center;
	color: white;
	height: auto;
	width:100%;
	position: fixed;
	bottom:0; 
    margin:bottom;
}

nav li {	
	font-size: 1.5em;
	display:inline-block;
	margin: 0 30px;
	}

a{
	color: #ffffff;
	text-shadow: 0 0 5px #ff0000, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #4f0000, 0 0 30px #ff8080, 0 0 40px #f32342, 0 0 55px #d64188, 0 0 75px #d83f59

}

a:hover{
	background-color: white;
    border: 2px solid red;
    color: red;
}

.main{
	color:black;
	
}
.main:hover{
    color: #000000;
	transition-duration: 1s;
}

table {

	border-collapse: collapse;
	width: 90%;
}

table td, table th {
	border: 1px solid #c0c0c0;
	padding: 8px;
/* border-color:black; */
}

table tr:nth-child(even) {
	background-color: #c0c0c0;
	
}

table tr:hover {
	background-color: #c0c0c0;
	
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #000000;
	color: #c0c0c0;
}

table a:link, table a:visited {
	background-color: #c10000;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

table a:hover, table a:active {
	background-color: #004040;
}


/* .container{ */
/*   display: grid; */
/*   grid-template-columns: repeat(3, 1fr); */
/*   grid-auto-rows: 200px; */
	
/* } */
/* tbody{ */
/* /*     display: grid; */ */
/* /*     grid-template-columns: 1fr 1fr; */ */
/* /*     grid-gap: 20px; */ */
/* /*     border-radius: 2px; */ */
/* /*     border-color: green; */ */
/* } */
